<div id="body">

<div id="body-left">

<b>Title:</b><%= @bookmark.title%><br><br>
<b>Description:</b><%= @bookmark.description %><br><br>


<%= link_to "Edit",edit_bookmark_path(@bookmark) %>|<%= link_to "Back",:back %>

</div>
<div id="body-right">




</div>


</div>


